# Ignore everything
*

# But not .gitignore itself
!.gitignore

# Allow .py files
!*.py

# Allow my_folder
!POSCARS/
!POSCARS/*
!POTCARS/
!POTCARS/*
!CALPHAD_CALC/
!CALPHAD_CALC/*
!src/
!src/*


# Ignore the sub_folder within my_folder
POSCARS/_manually/
